.imageField {
    width: 100%;
    .arpaField__body {
        flex-direction: column;
        align-items: flex-start;
    }

    .listItem__main {
        padding: 0;
        gap: 1rem;
    }

    .fileField__fileLists {
        margin-top: 0;

        .arpaList__body {
            width: 100%;
            flex: 1 1 auto;
        }
    }

    image-item {
        --image-border-radius: 0.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .arpaList {
        flex: 1 1 auto;
        justify-content: flex-start;
        max-width: 100%;
    }
}

/* Multiple Images */
/* .imageField.fileField--multiple {
} */
