.arpaForm {
    display: flex;
    container: arpa-form;
    container-type: inline-size;
    flex: 1 1 auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    arpa-messages {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.arpaForm__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.arpaForm__messages {
    margin-bottom: 1rem;
}

.arpaForm__messages:empty {
    display: none;
}

/**
 * Header
 */

.arpaForm__header {
    &:empty {
        display: none;
    }
}

/**
 * Fields
 */

.arpaForm__fields {
    position: relative;
    display: flex;
}

.arpaForm__fields:has(.arpaForm__column) {
    gap: 1.5rem;
}

/**
 * Body
 */

.arpaForm__body {
    position: relative;
    width: 100%;
}

.arpaForm__column {
    width: 100%;
}

/**
 * Footer
 */

.arpaFrom__footer {
    background-color: var(--overlay);
    bottom: 0;
    display: flex;
    margin-left: -1rem;
    padding: 1rem;
    position: sticky;
    width: calc(100% + 2rem);
    z-index: 1;
    .arpaForm__controls {
        margin-left: auto;
    }
}

/**
 * Controls
 */

.arpaForm__controls {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

/**
 * Responsive
 */

@container arpa-form (min-width: 1001px) {
    .arpaForm__fields {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        > .groupField {
            max-width: calc(50% - 1rem);
            flex: 1 1 auto;
        }
    }

    .arpaForm__column {
        width: calc(50% - 12px);
    }
}

@container arpa-form (max-width: 980px) {
    .arpaForm__fields {
        flex-direction: column;
        gap: 1.5rem;
    }
    .arpaForm__column {
        width: 100%;
    }
}

/**
 * Variants
 */

/* Compact */
arpa-form[variant='compact'] {
    gap: 0.6rem;
    padding: 0.4rem 0.7rem 0.7rem 0.7rem;
    .message.message {
        border-radius: 8px;
    }
    .arpaForm__fields {
        margin-top: 0;
        gap: 1rem;
        .groupField__fields.groupField__fields {
            gap: 1rem;
            margin-bottom: 0;
        }
    }

    .groupField__details {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        .groupField__fields.groupField__fields {
            box-shadow: none;
            padding: 0;
        }
    }
    .groupField__summary {
        padding: 0.75rem 0rem;
    }

    form-title {
        padding-left: 0;
    }

    .arpaField.arpaField {
        gap: 0;
        .arpaField__header .fieldLabel__text {
            padding-bottom: 0.5rem;
        }

        .fieldInput {
            border-radius: 0.5rem;
        }
    }
}

/* Mini */
.arpaForm[variant='mini'] {
    gap: 0;
    container-type: inherit;
}
