.optionsField__options:not(.comboBox) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

.optionsField__input {
    text-align: left;
    cursor: pointer;
}