field-label {
    display: flex;
    flex: 1 1 auto;
}

.fieldLabel {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    cursor: pointer;
    align-items: center;
    /* padding: 0 0.5rem; */
    padding-left: .5rem;
    
}

.fieldLabel__required {
    color: var(--red);
    padding: 0px 6px;
    display: flex;
    position: relative;
    font-size: 20px;
    height: 14px;
    top: -6px;
}

.fieldLabel__text {
    flex: 0 1 auto;
    color: var(--grey-600);
    font-weight: 700;
    font-size: 1.05rem;
}

.fieldLabel__icon.fieldLabel__icon {
    margin-right: 10px;
    color: var(--grey-650);
    font-size: 20px;
}
