.fieldLabel {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    cursor: pointer;
    align-items: center;
}

.fieldLabel__required {
    color: var(--red);
    padding: 0px 6px;
    display: flex;
    position: relative;
    font-size: 20px;
    height: 14px;
    top: -6px;
}

.fieldLabel__text {
    flex: 0 1 auto;
    color: var(--grey-700);
    font-weight: 550;
    font-size: 1rem;
}

.fieldLabel__icon.fieldLabel__icon {
    margin-right: 10px;
    color: var(--grey-650);
    font-size: 20px;
}
