.fieldOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: var(--input-height);
    label {
        cursor: pointer;
    }
}

.fieldOption__handler {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    height: var(--input-height);
}

.fieldOption__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
