:root {
    --field-option-font: var(--primary-font);
    --field-option-size: 0.9rem;
    --field-option-height: var(--input-height);
    --field-option-gap: 0.75rem;
    --field-option-weight: 400;
    --field-option-active-weight: 600;
    --field-option-color: var(--grey-600);
    --field-option-active-color: var(--color-primary);
    --field-option-active-background: var(--blue-lightest);
}

.fieldOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: var(--input-height);
    label {
        cursor: pointer;
    }
}

.fieldOption__handler {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    height: var(--input-height);
}

.fieldOption__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.fieldOption__label.fieldOption__label {
    font-family: var(--primary-font);
    font-size: var(--field-option-size);
    font-weight: var(--field-option-weight);
    color: var(--field-option-color);
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}
