tag-field,
select-combo {
    .comboBox {
        left: 0;
        right: auto;
        display: none;
        position: absolute;
    }
    &:focus-within {
        .comboBox {
            display: block;
        }
    }
}

.selectCombo__options {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
