.groupField {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0;
    container-name: groupfield-input;
    container-type: inline-size;
}

.groupField__summary {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 1rem 0;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    transition: var(--theme-transition);

    .groupField__iconRight {
        margin-left: auto;
    }

    arpa-icon {
        color: var(--grey-400);
    }
}

.groupField__summary__label {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--grey-600);
}

.groupField > .groupField__details[open] {
    > .groupField__summary {
        border-bottom: 2px solid var(--grey-100);

        .groupField__summary__label {
            font-weight: 800;
        }

        arpa-icon {
            color: var(--color-primary);
        }
    }

    > .groupField__fields {
        padding: 1rem 0.5rem;
        margin-bottom: 20px;
        border-radius: 16px;
    }
}

@container groupfield-input (min-width: 550px) {
    .groupField__fields {
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem 2rem;
    }

    .groupField__fields > .arpaField:not(.fileField, .imageField, .audioField, .videoField) {
        flex: 1 1 50%;
        max-width: calc(50% - 16px);
    }
}

@container groupfield-input (min-width: 850px) {
    .groupField__fields > .fileField,
    .groupField__fields > .imageField,
    .groupField__fields > .audioField,
    .groupField__fields > .videoField {
        flex: 1 1 50%;
        max-width: calc(50% - 16px);
    }
}

@container groupfield-input (max-width: 549px) {
    .groupField__fields {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.groupField__fields > .arpaField:only-child {
    flex: 1 1 100%;
    max-width: 100%;
}
