.colorField__colorInputWrapper {
    border-radius: 50%;
    height: 2.2rem;
    overflow: hidden;
    position: absolute;
    right: 0.6rem;
    width: 2.2rem;
}

.colorField__colorInput {
    background-color: transparent;
    cursor: pointer;
    height: 3rem;
    inset: -0.4rem;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 3rem;
}
