.fileList {
    display: flex;
    flex-direction: column;
    min-width: 0;

    h2 {
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        padding-bottom: 0.8rem;
    }

    .arpaList__items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        contain: layout style;
    }
}
