form-title {
    font-weight: 700;
    padding: 0.4rem 0.25rem 0.2rem;
    display: flex;
    align-items: center;
    arpa-icon {
        font-size: 1rem;
        margin-right: 0.5rem;
        color: var(--grey-600);
    }
}

.formTitle:empty {
    display: none;
}

.formTitleComponent__iconRight {
    margin-left: auto;
}

.formTitle__content {
    font-size: 1.3rem;
    color: var(--grey-500);
    font-weight: 700;
    padding-top: 2px;
    margin: 0;
}
