form-title {
    font-weight: 450;
    font-size: 1.1rem;
    padding: .4rem .25rem .2rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    arpa-icon {
        font-size: 1rem;
        margin-right: .5rem;
        color: var(--grey-600);
    }
}

.formTitleComponent__iconRight {
    margin-left: auto;
}

.formTitle__content {
    padding-top: 2px;
    margin: 0;
}
