form-title {
    font-weight: normal;
    padding: 8px 0px 8px 4px;
    margin: 0 .5rem .5rem 0;
    font-size: var(--font-size-l);
    color: var(--text-color);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey-50);
    arpa-icon {
        font-size: 16px;
        margin-right: 8px;
        color: var(--grey-600);
    }
}

.formTitleComponent__iconRight {
    margin-left: auto;
}

.formTitle__content {
    padding-top: 2px;
    margin: 0;
}
