.arpaField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

.arpaField p {
    margin: 4px 0px;
}

.arpaField__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arpaField.arpaField--hasError {
    .fieldInput {
        border-color: var(--color-red);
        background-color: var(--color-error-light);
    }
    &:focus-within field-errors .tooltip__content {
        display: block;
    }
}

.arpaField__inputWrapper {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    align-items: center;
}



.arpaField:has(> .arpaField__body .fieldInputMask__lhs:not(:empty)) .fieldInput {
    padding-left: var(--input-icon-padding);
}

.arpaField:has(> .arpaField__body .fieldInputMask__rhs:not(:empty)) .fieldInput {
    padding-right: var(--input-icon-padding);
}


/* Disabled */

.arpaField:has(.fieldInput:disabled) {
    opacity: 0.5;
    .fieldInput {
        cursor: not-allowed;
        &:hover {
            border-color: var(--grey-100);
        }
    }
}