.arpaField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    gap: .8rem;

    &:focus-within:not(.groupField) {
        .arpaField__icon {
            color: var(--color-primary);
        }
        &.arpaField--hasError {
            .arpaField__icon {
                color: var(--red-medium);
            }
        }
    }
}

.arpaField__body {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.arpaField[variant='small'] {
    max-width: 142px;

    .fieldInput {
        text-align: center;
        justify-content: center;
    }
}

.arpaField p {
    margin: 4px 0px;
}

.arpaField__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arpaField__description {
    padding: 4px 0px;
    margin-bottom: 8px;
    font-size: 15px;
    margin: 0px 0px 8px;
}

.arpaField.arpaField--hasError {
    .fieldInput {
        border-color: var(--red-light);
        background-color: var(--red-lightest);
    }
    &:focus-within field-errors .tooltip__content {
        display: block;
    }
}

.arpaField__inputWrapper {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    align-items: center;
    gap: 8px;
}

.arpaField:has(> .arpaField__body .fieldInputMask__lhs:not(:empty)) .fieldInput {
    padding-left: var(--input-icon-padding);
}

.arpaField:has(> .arpaField__body .fieldInputMask__rhs:not(:empty)) .fieldInput {
    padding-right: var(--input-icon-padding);
}

.arpaField__footer:empty {
    display: none;
}

.arpaField__footnote.arpaField__footnote {
    font-size: 14px;
    position: relative;
    padding: 0px 0px 0px 0px;
    line-height: 18px;
    margin: 0;
}


/* Disabled */

.arpaField:has(.fieldInput:disabled) {
    opacity: 0.5;
    .fieldInput {
        cursor: not-allowed;
        &:hover {
            border-color: var(--grey-100);
        }
    }
}

.arpaField[variant='compact'] {
    gap: 0px;
    --input-height: 2.375rem;
    --input-border-radius: 0.25rem;
}
