.checkboxField {
    position: relative;
    max-height: var(--input-height);
    padding-bottom: 1rem;

    .arpaField__label {
        flex: 1 1 auto;
        padding-bottom: 0;
        margin: 0;
        font-size: var(--field-option-size);
        font-weight: var(--field-option-weight);
    }

    label {
        display: flex;
        flex: 0;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        cursor: pointer;

        &:hover,
        &:focus,
        &:has(input:checked) {
            background-color: var(--primary-hilight);

            .arpaField__icon {
                color: var(--color-primary);
            }

            .arpaField__label {
                font-weight: var(--field-option-active-weight);
                color: var(--field-option-active-color);
                letter-spacing: -0.2px;
                text-decoration-thickness: 2px;
                text-decoration-color: var(--field-option-active-color);
                text-underline-offset: 2px;
            }
        }

        &:has(input:checked) {
            .arpaField__label {
                text-decoration: underline;
            }
        }
    }

    .icon {
        margin-right: 12px;
    }

    field-input {
        flex: 0 0 auto;
    }
}

checkbox-field.arpaField:has(.arpaField__icon) .arpaField__input {
    padding-left: 12px;
}

checkbox-field.arpaField:has(.arpaField__iconRight) .arpaField__input {
    padding-right: 12px;
}

.arpaCheckbox,
.arpaField input[type='radio'],
.arpaField input[type='checkbox'] {
    position: relative;
    display: flex;
    visibility: hidden;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 0 !important;
    padding: 0;
    margin: 0;
    text-align: center;
    appearance: none;

    &::after {
        position: absolute;
        visibility: visible;
        /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
        font-family: 'Material Symbols Outlined';
        font-size: 24px;
        font-weight: 300;
        color: var(--grey-300);
        cursor: pointer;
        content: 'check_box_outline_blank';
    }
}

.arpaCheckbox,
.arpaField input[type='checkbox'] {
    &:checked::after {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
        color: var(--color-primary);
        content: 'check_box';
    }
}

.arpaField input[type='radio']::after {
    content: 'radio_button_unchecked';
}

.arpaField input[type='radio']:checked::after {
    color: var(--color-primary);
    content: 'radio_button_checked';
}
