:root {
    --input-height: 3.2rem;
    --input-border-radius: 0.75rem;
    --input-border-radius-round: var(--input-height);
    --input-padding: 1.2rem;
    --input-icon-padding: 52px;
    --input-bg-color: var(--color-background);
    --input-box-shadow: inset 6px 6px 6px var(--grey-150), inset -6px -6px 6px var(--grey-0);
}

field-input {
    flex: 1 1 auto;
    display: flex;
    max-width: 100%;
}

.fieldInput {
    background-color: var(--input-bg-color);
    border-radius: var(--input-border-radius-round);
    border: 2px solid var(--border-color);
    box-shadow: var(--input-box-shadow);
    color: var(--text-color);
    flex: 1 1 auto;
    font-family: var(--primary-font);
    font-size: 16px;
    height: var(--input-height);
    min-height: var(--input-height);
    padding-left: var(--input-padding);
    padding-right: var(--input-padding);
    transition: var(--theme-transition);
    width: 100%;
    border: none;

    &:focus,
    &:hover {
        background-color: var(--primary-hilight);
        /* border: 2px solid var(--primary-highlight-outline); */
        outline: none;
    }
}

button.fieldInput {
    display: flex;
    align-items: center;
    gap: 8px;

    arpa-icon {
        position: relative;
        top: -1px;
    }
}

.fieldInput--compact.fieldInput--compact {
    padding: 1rem;
    --input-height: 3rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
