:root {
    --input-height: 54px;
    --input-border-radius: 4rem;
    --input-padding: 1.2rem;
    --input-icon-padding: 52px;
}

.fieldInput {
    background-color: var(--grey-30);
    border-radius: var(--input-border-radius);
    border: 2px solid var(--border-color);
    box-shadow: none;
    color: var(--text-color);
    flex: 1 1 auto;
    font-family: var(--primary-font);
    font-size: 16px;
    height: var(--input-height);
    min-height: var(--input-height);
    padding-left: var(--input-padding);
    padding-right: var(--input-padding);
    transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    width: 100%;

    &:focus,
    &:hover {
        background-color: var(--primary-hilight);
        border: 2px solid var(--primary-highlight-outline);
        outline: none;
    }
}

button.fieldInput {
    display: flex;
    align-items: center;
    gap: 8px;

    arpa-icon {
        position: relative;
        top: -1px;
    }
}