.fieldInput {
    width: 100%;
    border-radius: 16px;
    border: none;
    border: 2px solid var(--border-color);
    padding: 14px 18px 12px;
    background-color: var(--grey-30);
    transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-family-avant-garde);
    color: var(--grey-600);
    height: 48px;
    box-shadow: none;
    flex: 1 1 auto;
    &:focus,
    &:hover {
        border: 2px solid var(--primary-highlight-outline);
        outline: none;
        background-color: var(--primary-hilight);
    }
}

.arpaField--hasError .fieldInput {
    border-color: var(--outline-error);
    color: var(--color-error-text);
    background-color: var(--bg-error);
}
