radio-field,
checkboxes-field {
    .optionsField__options.optionsField__options {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: .5rem;
        padding: 0 0 .5rem;
    }
}