range-field {
    input[type="number"] {
        text-align: center;
    }

    input[type="range"] {
        width: 100%;
        height: 4px;
        appearance: none;
        cursor: pointer;
        outline: none;
        background: var(--grey-200);
        border-radius: 4px;
    }
}