range-field {
    input[type="number"] {
        text-align: center;
    }
    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        background: var(--grey-200);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
    }
}