.fileItem {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 10px 0px;
    border-radius: var(--input-border-radius);
    padding: 0.5rem var(--input-padding);

    .listItem__title {
        display: flex;
        flex-direction: row;
        font-weight: 600;
    }

    .listItem__contentWrapper {
        align-self: center;
    }

    .fileItem__metadata {
        position: relative;
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
    }
}

.fileItem__titleContent {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    min-width: 0;
}

.fileItem.fileItem .listItem__icon {
    --icon-size: 1.8rem;
    position: relative;
    left: -4px;
    font-size: var(--icon-size);
    font-weight: 500;
}

.fileItem__deleteButton:hover {
    color: var(--color-red);
}

.fileItem__name {
    max-width: 100%;
    font-weight: 500;
}

.fileItem__extension {
    font-weight: 900;
    font-size: 1rem;
    color: var(--color-primary);
}

.fileItem__size {
    font-weight: bold;
    font-size: 0.9rem;
}

/* .fileItem--markedForDeletion.fileItem--markedForDeletion {} */
