.fileItem {
    --listItem-gap: 0.5rem;

    padding: 0.25rem 0.75rem;
    border-radius: var(--input-border-radius);
    box-shadow: rgb(99 99 99 / 20%) 0 1px 10px 0;

    .listItem__title {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        min-width: 100px;
    }

    .listItem__contentWrapper {
        align-self: baseline;
        padding: 0;
    }

    .listItem__contentHeader {
        display: block;
    }

    .fileItem__metadata {
        position: relative;
        display: flex;
        align-items: baseline;
        padding: 0 8px;
        margin-left: auto;
    }
}

.fileItem__extensionWrapper {
    display: flex;
    gap: 0.125rem;
    align-items: baseline;
}

.fileItem__titleContent {
    position: relative;
    flex: 0 1 auto;
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fileItem__deleteButton:hover {
    color: var(--red);
}

.fileItem__name {
    max-width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.fileItem__extension {
    font-size: 1rem;
    font-weight: 900;
    color: var(--color-primary);
}

.fileItem__size {
    min-width: 2.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

/* .fileItem--markedForDeletion.fileItem--markedForDeletion {} */
