field-errors {
    .tooltip {
        --border-color: var(--red-light);
        --bg-color: var(--red-lightest);
        --text-color: var(--red-dark);
    }

    margin-right: 0.8rem;

    &:not(:has(.fieldErrors__list)),
    &:has(.fieldErrors__list:empty) {
        display: none;
    }

    arpa-icon.icon {
        margin: 0;
        color: var(--red-medium);
    }

    &:focus-within .icon.icon {
        color: var(--red-medium);
    }
}

.fieldErrors:has(.tooltip__content:empty) {
    display: none;
}
