<!-- This is a demo form page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form Demo</title>
        <link rel="stylesheet" href="/ui/material-symbols/outlined.css" />
        <!-- <link rel="stylesheet" href="/ui/themes/default/default.min.css" /> -->
        <link rel="stylesheet" href="/themes/default/default.bundled.css" />
        <% for (key in htmlWebpackPlugin.files.js) { %>
        <!-- <script src="//unpkg.com/@ungap/custom-elements"></script> -->
        <script type="module" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
        <% } %>
    </head>
    <body>
        <form id="demoForm" is="arpa-form" title="My Form">
            <arpa-messages id="form-messages">
                <info-message>This is an information message</info-message>
                <error-message can-close title="There are errors in your form">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry’s standard dummy text ever since the 1500s, when an unknown printer took
                    a galley of type and scrambled it to make a type specimen book. It has survived not only
                    five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.
                </error-message>
                <warning-message timeout="5000" can-close>This is a warning message</warning-message>
                <success-message sub-title="Great Success!">This is a success message</success-message>
                <list-item
                    title-link="http://museovaquero.local/api/image/convert?source=%2Fcmsx%2Fassets%2Fhqrvutmy_museovaquero_assets%2Fgallery%2Fimages%2F449.jpg&width=400&height=400&quality=70"
                    image="http://museovaquero.local/api/image/convert?source=%2Fcmsx%2Fassets%2Fhqrvutmy_museovaquero_assets%2Fgallery%2Fimages%2F449.jpg&width=400&height=400&quality=70"
                    title="Some title"
                    has-selection
                    sub-title="test subtitle"
                >
                    Some message
                </list-item>
            </arpa-messages>

            
        </form>
        <script type="module" src="demo/demoForm.js"></script>
    </body>
</html>
