<!-- This is a demo form page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form Demo</title>
        <link rel="stylesheet" href="/ui/material-symbols/outlined.css" />
        <!-- <link rel="stylesheet" href="/ui/themes/default/default.min.css" /> -->
        <link rel="stylesheet" href="/themes/default/default.bundled.css" />
        <% for (key in htmlWebpackPlugin.files.js) { %>
        <script src="//unpkg.com/@ungap/custom-elements"></script>
        <script type="module" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
        <% } %>
    </head>
    <body>
        <form id="demoForm" is="arpa-form" title="My Form">
            
            <arpa-messages id="form-messages">
                <!-- <info-message>This is an information message</info-message> -->
                <!-- <error-message can-close title="There are errors in your form">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry’s standard dummy text ever since the 1500s, when an unknown printer took
                    a galley of type and scrambled it to make a type specimen book. It has survived not only
                    five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.
                </error-message>
                <warning-message timeout="5000" can-close>This is a warning message</warning-message>
                <success-message sub-title="Great Success!">This is a success message</success-message> -->
                <list-item
                    title-link="http://museovaquero.local/api/image/convert?source=%2Fcmsx%2Fassets%2Fhqrvutmy_museovaquero_assets%2Fgallery%2Fimages%2F449.jpg&width=400&height=400&quality=70"
                    image="http://museovaquero.local/api/image/convert?source=%2Fcmsx%2Fassets%2Fhqrvutmy_museovaquero_assets%2Fgallery%2Fimages%2F449.jpg&width=400&height=400&quality=70"
                    title="Some title"
                    has-selection
                    sub-title="test subtitle"
                >
                    Some message
                </list-item>
            </arpa-messages>

            <div class="arpaForm__column">
                <group-field label="Text fields" id="tex-fields-group" icon="title" open>
                    <hidden-field id="hiddenField" value="hidden value"></hidden-field>
                    <text-field id="simpleText" label="Simple Text Field"></text-field>
                    <email-field
                        id="email"
                        label="Email"
                        required
                        value="andriusain@hotmail.com"
                    ></email-field>
                    <url-field id="url" label="URL" value="https://www.google.com"></url-field>
                    <tel-field id="tel" label="Tel" value="1234567890"></tel-field>
                    <number-field
                        id="number"
                        label="Number"
                        min="1"
                        max="100"
                        step="3"
                        value="50"
                        required
                    ></number-field>
                    <color-field id="color" label="Color" value="yellowgreen"></color-field>
                    <!-- <password-field
                        id="password"
                        label="Password"
                        confirm
                        value="P455w0rd!?"
                    ></password-field> -->
                    <text-area-field id="textarea" label="Text Area" value="some value"></text-area-field>

                    <text-field
                        id="fullText"
                        label="Full Featured Text Field"
                        description="This text is configured with every possible option"
                        footnote="This is a footnote with some sample text. Lorem ipsum dolor sit amet"
                        tooltip="Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
                        required
                        icon="abc"
                        icon-right="abc"
                        regex="alphaLower"
                        regex-message="Only letters and numbers are allowed"
                        value="abc"
                    ></text-field>
                    <range-field id="range" label="Range" min="1" max="100" step="3" value="50">
                    </range-field>
                </group-field>
                <!-- <group-field icon="calendar_month" id="dates-group" label="Dates" open>
                    <date-field
                        id="date"
                        label="Date with future disabled"
                        format="DD MMMM YYYY"
                        disable-future
                    ></date-field>
                    <date-field
                        id="dateMinMax"
                        label="Date with min and max"
                        min="2023-10-01"
                        max="2024-10-01"
                    ></date-field>
                    <date-time-field
                        id="dateTime"
                        label="Date Time with past disabled"
                        disable-past
                    ></date-time-field>
                    <time-field id="time" label="Time"></time-field>
                    <week-field id="week" label="Week"></week-field>
                    <month-field id="month" label="Month"></month-field>
                </group-field> -->
            </div>
            <!-- <div class="arpaForm__column">
                <group-field open icon="lists" id="select-group" label="Select fields">
                    <select-field icon="person" id="selectField" label="cars" value="mercedes">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select-field>
                    <select-combo
                        icon="info"
                        id="selectCombo"
                        label="Select Combo"
                        value="grocery"
                    ></select-combo>
                    <select-combo
                        id="select-combo-search"
                        label="Select Combo with search"
                        icon="search"
                        value="es"
                        has-search
                    ></select-combo>
                    <select-combo
                        id="select-combo-fetch"
                        label="Select Combo Fetch"
                        icon="search"
                        value="AB-E"
                        has-search
                    >
                    </select-combo>
                </group-field>
                <group-field open icon="check_box" id="options-group" label="Options">
                    <checkbox-field
                        icon="check_circle"
                        id="checkbox"
                        tooltip="This is a tooltip"
                        label="Checkbox"
                        value="true"
                        checked
                    ></checkbox-field>
                    <radio-field id="radio" label="radio" value="option2">
                        <radio-option value="option1" label="Option 1" icon="grocery"></radio-option>
                        <radio-option value="option2" label="Option 2" icon="nutrition"></radio-option>
                        <radio-option value="option3" label="Option 3" icon="person"></radio-option>
                    </radio-field>
                    <checkboxes-field id="binaryChecks" label="Binary Checkboxes" value="option1" binary>
                        <checkbox-option value="option1" label="Option 1" icon="grocery"></checkbox-option>
                        <checkbox-option value="option2" label="Option 2" icon="nutrition"></checkbox-option>
                        <checkbox-option value="option3" label="Option 3" icon="person"></checkbox-option>
                    </checkboxes-field>
                    <checkboxes-field id="arrayCheckboxes" label="Array Checkboxes" value="option1">
                        <checkbox-option value="option1" label="Option 1" icon="grocery"></checkbox-option>
                        <checkbox-option value="option2" label="Option 2" icon="nutrition"></checkbox-option>
                        <checkbox-option value="option3" label="Option 3" icon="person"></checkbox-option>
                    </checkboxes-field>
                </group-field>
            </div> -->
        </form>
        <script type="module" src="demo/demoForm.js"></script>
    </body>
</html>
