field-input-mask {
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: var(--input-height);

    arpa-icon {
        font-size: 23px;
        max-width: 20px;
    }

    label {
        display: flex;
    }
}

field-input-mask > * {
    visibility: visible;
}

.fieldInputMask__rhs,
.fieldInputMask__lhs {
    padding: 0px 12px;
    display: flex;
    align-items: center;
}

.fieldInputMask__rhs {
    margin-left: auto;
    padding-right: 12px;
}
