checkbox-option,
radio-option {
    flex: 1 1 auto;
    .fieldOption__handler {
        transition: var(--theme-transition);
        background-color: var(--input-bg-color);
        padding-left: var(--input-padding);
        padding-right: var(--input-padding);
        gap: 11px;
        border-radius: var(--input-border-radius-round);

        .fieldOption__label {
            flex: 1 1 auto;
        }

        &:has(input:checked),
        &:hover,
        &:focus {
            .fieldOption__label {
                text-decoration: underline;
                text-underline-offset: 2px;
                text-decoration-thickness: 2px;
                font-weight: var(--field-option-active-weight);
                letter-spacing: -0.2px;
                color: var(--field-option-active-color);
            }

            arpa-icon {
                color: var(--field-option-active-color);
            }
        }
    }

    input {
        z-index: 1;
    }
}
