checkbox-option,
radio-option {
    flex: 1 1 auto;
    .fieldOption__handler {
        transition: var(--theme-transition);
        background-color: var(--grey-30);
        padding: 8px 12px;
        gap: 11px;
        border-radius: 10px;

        .fieldOption__label {
            flex: 1 1 auto;
        }

        &:has(input:checked),
        &:hover,
        &:focus {
            background-color: var(--primary-hilight);

            .fieldOption__label {
                text-decoration: underline;
                text-underline-offset: 2px;
                text-decoration-color: var(--grey-400);
            }

            arpa-icon {
                color: var(--color-primary);
            }
        }

        &:has(input:checked) {
            .fieldOption__label {
                color: var(--grey-950);
            }
        }
    }

    input {
        z-index: 1;
    }
}
